<style>

	.footer {
		text-align: center;
		bottom: 0;
		height: 60px;
		width: 100%;
	}

</style>

<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header">
			<p class="navbar-brand" target="_blank">&copy;TrevorMooreMinesweeper</p>
		</div>
	</div>
</div>
<!--
<div class="footer">
	<h5>&copy;TrevorMooreMinesweeper</h5>
</div>
	-->