@model PlayMinesweeper.Models.UserModel

@*
	Trevor Moore
	CST-247
	.NET MVC
	2/26/2018
*@

@{
	ViewBag.Title = "Play Minesweeper";
	Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<!DOCTYPE html>


<div class="form-horizontal">

	<br />
	<br />
	<br />
	<br />

	<h4>Online Minesweeper</h4>

	<hr />

	<div>
		Welcome back @Model.Username! Have fun!
	</div>

</div>