
@{
	ViewBag.Title = "Register Failed";
	Layout = "~/Views/Shared/_LoggedOutLayout.cshtml";
}

@*
	Trevor Moore
	CST-247
	.NET MVC
	2/26/2018
*@

<!DOCTYPE html>


<div class="form-horizontal">

	<br />
	<br />
	<br />
	<br />

	<h4>Failed to Register</h4>

	<hr />

	<br />

	<div>
		@Html.ActionLink("Go to Register Page", "Register")
	</div>

</div>
